.sidebar{
    display: flex;
    flex: 20%; // flexの修正
    height: 100vh;
    // background-color: #33363d; //あとでhomeに移動する

    .sidebarLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #111113;
        padding: 15px 7px;
        border-right: #0f44c7 1px solid;

        .serverIcon{
            width: 45px;
            height: 45px;
            background-color: #33363d;
            border-radius: 15px;
            border: #515153 1px solid;
            cursor: pointer;
            &:hover{
                background-color: #0f44c7;
            }
            margin-top: 12px;
            img{
                width: 45px;
                height: 45px;
                border-radius: 9px;         
            }
        }
    }
    .sidebarRight {
        width: 300px;
        background-color: #2C2D34;
        flex-grow: 1;
        position: relative;
        .sidebarTop {
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            cursor: pointer;
        }

        .sidebarChannels {
            padding:13px;
            color: #ffffff;

            .sidebarChannelsHedder {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 0px;
                font-size: 14px;
                font-weight: 600;

                .sidebarAddIcon {
                    cursor: pointer;

                }

                .sidebarHedder {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 5px;
                    cursor: pointer;
                    &:hover{
                        color: gray;
                        background-color: #32363C;
                        border-radius: 5px;
                    }
                }
            }
        }
        .sidebarFooter {
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 95%;
            padding-bottom: 10px;
            border-top: #686a6e 1px solid;
            padding-top: 10px;
            margin-left: 3px;
            .sidebarAccount {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                h4 {
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 500;
                }
                span{
                    color: #8b8585;
                    font-size: 12px;
                    font-weight: 400;
                }
            }

            .sidebarVoice {
                display: flex;
                align-items: center;
                color: #8b8585;
            }
        }
    }
    
}